<!DOCTYPE html>
<html>
<head>
  <title>SevenContact</title>
  <%= stylesheet_link_tag    "seven_contact/application", media: "all" %>
  <%= javascript_include_tag "seven_contact/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
