<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Name: <%= @contact_record.name %></h1>

<p>Email: <%= @contact_record.email %></p>

<div>
  <p><%= @contact_record.content %></p>
</div>
</body>
</html>